{% extends "base.html" %}

{% block content %}
<div id="graph">
</div>

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var data = {{ data|safe }};

var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 1600 - margin.left - margin.right,
    height = 750 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(function(d, i){
    return (parseInt(d)+15) % 24 // Time after 3pm
})

var svg = d3.select("#graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var color = {0: "white", 65: "red", 83: "blue", 87: "green", 71: "pink"};


  // data.sort(function(a, b) { return b.total - a.total; });
  
console.log(data);
data.forEach(function(d) {
	console.log(d.date);
	console.log(d.zones);
 });
 
// alert(data);

data2 = [{"date": "2000-01-01", "zones": [{"name": 0, "y0": 1, "y1": 5}, {"name": 1, "y0": 5, "y1": 9}]},
		{"date": "2000-01-02", "zones": [{"name": 0, "y0": 2, "y1": 4}, {"name": 1, "y0": 4, "y1": 8}]}]


x.domain(data.map(function(d) { return d.date; }));
y.domain([0, 24]); // Time AFTER 3pm

svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Time");

var state = svg.selectAll(".state")
      .data(data)
  .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x(d.date) + ",0)"; });

state.selectAll("rect")
      .data(function(d) { return d.zones; })
  .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color[d.name]; });





</script>


{% endblock %}